/* top-banner background */
.top-banner{
    position: absolute;
width: 83vw;
height: 85vh;
margin-left: 120px;
margin-top: 50px;
background: #390c56;
border-radius: 30px;
overflow: hidden;
gap: 130px;
}
/* welcome-text */
.welcome-text{
    font-family: 'Poppins';
color: #FFFFFF;
position: absolute;
font-size: 3.5vw;
width: 531px;
height: 240px;
margin-left: 76px;
margin-top: 46px;
}
.headerinfo{
    font-family: 'Poppins';
color: #ffffffaa;
position: absolute;
font-size: 1vw;
width: 506px;
height: 78px;
margin-left:76px ;
margin-top: 246px;
}
/* banner-image */
.banner-image{
    position: absolute;
    width: 50vw;
    height: 10vh;
}
.banner-image{
    position: absolute;
    width: 35%;
    display: block;
    margin-left: 50vw;
    margin-top: 0;
    transition: transform 0s;
}
.banner-image:hover img{
    transform: scale(1.3);
}
    .banner-button a{
        text-decoration: none;
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: absolute;
    width: 8vw;
    height: 3vh;
    left: 6vw;
    top: 65vh;
    gap: 10px;
    background: #4169e1;
    border-radius: 15px;
    }
.banner-button:hover a{
    background-color: red;
    transition: 2s;
}
.fa-solid fa-video{
    justify-content: center;
}
/* main part  */
/* section01 */
.all-matchs{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows: repeat(3,1fr);
}
.livematch{
    position: absolute;
width: 984px;
height: 872px;
margin-left: 428px;
margin-top: 826px;
background: 	#390c56;
border-radius: 10px;

}
.live-matchs{
    font-family: 'Poppins';
    font-size: .8vw;
    color: orange;
    margin-left: 20px;
}
/* thambnails */

.miatchs-live{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 14px;
    margin-top: 50px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.miatchs-live02{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 335px;
    margin-top: 50px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.miatchs-live03{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 654px;
    margin-top: 50px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.miatchs-live04{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 14px;
    margin-top: 430px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.miatchs-live05{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 335px;
    margin-top: 430px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.miatchs-live06{
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 654px;
    margin-top: 430px;
    border: 3px solid rgb(255, 251, 251);
    border-radius: 10px;
}
.thambnail img{
    position: absolute;
    width: 20vw;
    height: 20vh;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
}
.thambnail-text{
    font-family: 'Poppins';
    font-size: 1vw;
    position: absolute;
    width: 20vw;
    margin-left:1vw;
    margin-top: 22vh;
    color:  #ffffff;
}
button a{
    font-family: 'Poppins';
    font-size: 1vw;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    padding-top: 5px;
    width: 100px;
    height: 32px;
    margin-left: 20px;
    margin-top: 230px;
    border: 1px solid #fffefe;
    border-radius: 5px;
}
button:hover a{
    background-color: red;
    transition: 2s;
}
.timeicon{
    color: white;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 2vw;
    margin-top: 40vh;
}
.timetext{
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: 4vw;
    margin-top: 40vh;
    font-family: 'Poppins';
    font-size: 1vw;
    color: white;
}
.commenticon{
    color: white;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 10vw;
    margin-top: 40vh;
}
.commenttext{
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: 12vw;
    margin-top: 40vh;
    font-family: 'Poppins';
    font-size: 1vw;
    color: white;
}
.option{
    position: absolute;
width: 312px;
height: 312px;
left: 40px;
top: 836px;

background: #390c56;
border-radius: 10px;
}
.upcoming a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 30px;
    border: 2px solid white;
    border-radius: 10px;
}
.upcoming:hover a{
    background-color: red;
    transition: 2s;
}
.allgroup a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 110px;
    border: 2px solid white;
    border-radius: 10px;
}
.allgroup:hover a{
    background-color: red;
    transition: 2s;
}
.blogs a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 200px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
}
.goal{
    position: absolute;
    width: 95px;
    height: 60px;
    left: 48%;
    top: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    }
footer{
    position: absolute;
    width: 98.9vw;
    height: 444px;
    left: 0px;
    top: 2090px;
    background: #161616;
}
hr{
    position: absolute;
    width: 1320px;
    height: 0px;
    left: 140px;
    top: 230px;
    color: red;
}
.info{
    position: absolute;
    left: 30.94%;
    right: 21.94%;
    top: 65.92%;
    bottom: 5.13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #B9B9B9;
}
.fb a{
    color: white;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 45.94%;
    top: 75.92%;
    bottom: 5.13%;
}
.youtube a{
    color: white;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50.94%;
    top: 75.92%;
    bottom: 5.13%;
}
.twitter a{
    color: white;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 55.94%;
    top: 75.92%;
    bottom: 5.13%;
}
.upcoming02 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: red;
}
.allgroup02 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 110px;
    border: 2px solid white;
    border-radius: 10px;
}
.allgroup02:hover a{
    background-color: red;
    transition: 2s;
}
.blogs02 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 200px;
    border: 2px solid white;
    border-radius: 10px;
}
.blogs02:hover a{
    background-color: red;
    transition: 2s;
}
.upcoming03 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 30px;
    border: 2px solid white;
    border-radius: 10px;
}
.upcoming03:hover a{
    background-color: red;
    transition: 2s;
}
.allgroup03 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 110px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: red;
}
.blogs03 a{
    font-family: 'Poppins';
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 250px;
    height: 34px;
    left: 30px;
    top: 200px;
    border: 2px solid white;
    border-radius: 10px;
}
.blogs03:hover a{
    background-color: red;
    transition: 2s;
}
.tabelchart{
    font-family: 'Poppins';
    font-size: 1vw;
    color: white;
    box-sizing: border-box;
    position: absolute;
    width: 20.4vw;
    height: 50vh;
    margin-left: 24px;
    margin-top: 20px;
}
table{
    border-collapse: collapse;
}
td{
    color: white;
    border: 3px solid white;
}